/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 576px;

// Small tablets
$screen-md-min: 768px;

// Large tablets and small desktops
$screen-lg-min: 1024px;

// Large desktops
$screen-xl-min: 1200px;

// Super Large desktops
$screen-xxl-min: 1400px;


// Colors vars
:root {
  --basic-red: #672B2D;
  --off-white: #F5F5F5;
  --dark-red: #2E1115;
  --purple: #83687B;
  --mid-gray: #ADADAD;
}

