#checkout4{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". checkout4 .";

    background-color: var(--dark-red);
    color: var(--off-white);

    >div{

        max-width: 1400px; 
        margin: 0px auto;  
        grid-area: checkout4;   

        >aside{
            display: grid;
            text-align: center;
        }

        >section{
            #content4{
                background-color: var(--basic-red);
                padding: 48px;
                border-radius: 24px;

                margin-bottom: 32px;
                
                ul{
                    #same-checkbox{
                        display: flex;
                        gap: 8px;

                        .container {
                            margin: 11px 0px;
                        }
                    }

                    li{
                        aside{
                            display: flex;
                            h2{
                                padding: 16px;
                            }
                        }
                        section{
                            display: flex;
                        }
                        form{
                            input{
                                width: 100%;
                            }
                        }
                    }
                }               
            }

            #images4{
                padding: 24px;
                img{
                width: 100%;
                }
                aside{
                    text-align: center;
                }
                #purple-button{
                    display: flex;
                    justify-content: center;
                }
            }
        }


        @include lg{
            >section{
                display: grid;
                grid-template-columns: 50% auto;

                #content4{
                    ul{
                          #f4a{
                            display: flex;
                            width: 100%;
                            gap: 32px;
                      
                            >div{
                                margin-right: auto;
                                width: 100%;   
                            }
                          } 
                          #f4b{
                            display: flex;
                            width: 100%;
                            gap: 32px;
                      
                            >div{
                                margin-right: auto;
                                width: 100%;   
                            }
                          } 
                    }
                }
                #images4{
                    padding: 96px;
                    img{
                        width: 100%;
                    }
                }
            }
        }

    }
}