/* =============
    Base
============= */

body {

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    img {
        display: block;
    }

    a{
        text-decoration: none;
    }

}

