/* =============
    Base
============= */

body{

    ul{
        list-style: none;
        margin: 0;
        padding: 0;
    }

    img{
        display: block;
    }

}

.purple-button{

            padding: 8px 16px;
            border-radius: 8px;
            background-color: var(--purple);
            color: var(--off-white);

}
