/* =============
    Base
============= */

body{

    ul{
        list-style: none;
        margin: 0;
        padding: 0;
    }

    img{
        display: block;
    }

}

#purple-button{
            padding: 8px 16px;
            border-radius: 8px;
            background-color: var(--purple);
            color: var(--off-white);
}


#white-button{
    padding: 8px 24px;
    border-radius: 8px;
    background-color: transparent;
    border: 2px solid var(--off-white);
    color: var(--off-white);
}

#checkout-form{
        input{
            width: 100%;
            background-color: var(--off-white);
            border: 2px solid var(--purple);
            border-radius: 2px;
            color: var(--purple);
        }
}