#checkout2{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". checkout2 .";

    background-color: var(--dark-red);
    color: var(--off-white);


    padding-top: 80px;

    >div{

        max-width: 1400px; 
        margin: 0px auto;       
        grid-area: checkout2;

        margin-bottom: 32px;

        >aside{
            display: flex;
            justify-content: center;
            #header-text{
                padding: 24px;
            }
        }

        >section{
            #content2{
                background-color: var(--basic-red);
                padding: 48px;
                border-radius: 24px;

                margin-bottom: 32px;
    
                ul{
                    li{
                        padding-bottom: 24px;

                        h1{
                            font-size: rem-calc(64);
                        }

                        aside{
                            display: flex;
                            h2{
                                padding: 16px;
                            }
                        }

                        section{
                            display: flex; 
                            width: 100%;
                            
                            #purple-button{
                                margin-left: auto;
                                margin-top: 16px;
                                margin-bottom: -32px;
                             }
                             #white-button{
                                margin-top: 16px;
                                margin-bottom: -32px;
                            }
                        }
                        form{
                            input{
                                width: 100%;
                            }
                        }
                    }
                }
            }

            #images2{
                img{
                width: 100%;
                }
            }
        }



        @include lg{
            grid-template-columns: auto 1200 auto;
            >section{
                display: grid;
                grid-template-columns: 50% auto;

                #content2{
                    margin-bottom:8px;
                    ul{
                          #f2a{
                            display: flex;
                            width: 100%;
                            gap: 32px;
                      
                            >div{
                                margin-right: auto;
                                width: 100%;   
                            }
                          } 
                    }
                }

                #images2{
                    padding: 96px;
                    img{
                        width: 100%;
                    }
                }

            }
        }


    }
}