#attachments {

    //this is the offset magic
    scroll-margin-top: 165px;
    @include lg{
        scroll-margin-top: 220px;
    }
    //


    display: grid;
    grid-template-columns: 32px auto 32px;
    grid-template-areas: ". attachments .";

    background-color: var(--dark-red);
    color: var(--off-white);

    >div {
        grid-area: attachments;

        margin-top: -55px;
        padding-bottom: 48px;

        >section {
            ul {
                li {
                    section {
                        display: flex;
                        justify-content: center;
                        padding: 8px;
                    }

                    aside {
                        display: flex;
                        justify-content: center;
                        gap: 10px;
                        padding: 14px 0px;

                        h3{
                            font-size: rem-calc(16px);
                        }
                    }
                }
            }
        }
    }


    @include md {

        >div {
            padding-bottom: 36px;

            >section {
                ul {
                    display: grid;
                    grid-template-columns: 25% 25% 25% 25%;
                    grid-template-areas: "a1 a2 a3 a4";

                    .a1 {
                        grid-area: a1;
                    }

                    .a2 {
                        grid-area: a2;
                    }

                    .a3 {
                        grid-area: a3;
                    }

                    .a4 {
                        grid-area: a4;
                    }

                    li{
                        aside{
                            .container {
                                margin: 4px 0px;
                            }
                        }
                    }

                }
            }

        }
    }

    @include lg{
        >div{
            padding-bottom: 48px;
            >section{
                ul{
                    li{
                        aside{
                            .container{
                                margin: -5px 0px;
                            }
                        }
                    }
                }
            }
        }
    }

    @include xxl {
        grid-template-columns: auto 1440px auto;
    }

}