#attachments {

    display: grid;
    grid-template-columns: 32px auto 32px;
    grid-template-areas: ". attachments .";

    background-color: var(--dark-red);
    color: var(--off-white);

    >div {
        grid-area: attachments;

        >section {
            ul {
                li {
                    section {
                        display: flex;
                        justify-content: center;
                        padding: 8px;
                    }

                    aside {
                        display: flex;
                        justify-content: center;
                        gap: 8px;

                    }
                }
            }
        }
    }


    @include md {

        >div {

            >section {
                ul {
                    display: grid;
                    grid-template-columns: 25% 25% 25% 25%;
                    grid-template-areas: "a1 a2 a3 a4";

                    .a1 {
                        grid-area: a1;
                    }

                    .a2 {
                        grid-area: a2;
                    }

                    .a3 {
                        grid-area: a3;
                    }

                    .a4 {
                        grid-area: a4;
                    }

                }
            }

        }
    }

    @include xxl {
        grid-template-columns: auto 1440px auto;
    }

}