#features{


            //this is the offset magic
            scroll-margin-top: 62px;
            //
    
    display: grid;
    grid-template-columns: 32px auto 32px;
    grid-template-areas: ". features .";

    background-color: var(--basic-red);
    color: var(--off-white);

    >div{
        grid-area: features;
        padding: 40px 0px;
        text-align: left;
        ul{
            li{
                padding-bottom: 40px;
                aside{
                    display: flex;
                    justify-content: center;
                    padding-bottom: 16px;
                }
                h3{
                    padding: 24px 0px;
                }
            }
        }
    }

    @include md{
        padding: 0px;
        >div{
            padding-bottom: 24px;
        ul{
                display: grid;
                grid-template-columns: 25% 25% 25% 25%;
                grid-template-areas: "f1 f2 f3 f4";

                li{
                    text-align: left;
                    padding: 32px;
                }
        
                .f1{
                    grid-area: f1;
                }
        
                .f2{
                    grid-area: f2;
                }
        
                .f3{
                    grid-area: f3;
                }
        
                .f4{
                    grid-area: f4;
                }

        }
        }
    }


    @include xl{
        grid-template-columns: auto 1200px auto;
    }
}