#general{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". general .";

    background-color: var(--dark-red);
    color: var(--off-white);


    >div{
        grid-area: general;

        section{
            img{
                width: 100%;
            }

            h1{
                padding-bottom: 24px;
            }
            h3{
                padding-bottom: 8px;
            }
            h2{
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 40px;
                line-height: 100%;

                padding-bottom: 24px;
            }
            p{
                padding-bottom: 48px;
            }

            padding: 16px;
        }
    }

    @include md{
       
        >div{
           display: grid;
           grid-template-columns: 50% auto; 
           section{
                padding: 32px;
           }
        }
    }

    @include xl{
        display: grid;
        grid-template-columns: auto 1220px auto;
        section{
            padding: 64px;
            p{
                padding-bottom: 64px;
           }
        }
    }

}