#info{
        display: grid;
        grid-template-columns: 40px auto 40px;
        grid-template-areas: ". info .";

        background-color: var(--off-white);
        color: var(--dark-red);
    
        >div{
            grid-area: info;
            padding-top: 16px;

            section{
                img{
                    width: 100%;
                    border-bottom: 3px solid var(--mid-grey);
                    padding-top: 32px;
                }
            }
    
        }


        @include lg{
                >div{
                        display: grid;
                        grid-template-columns: 30% auto; 

                        h3{
                                padding-top: 100px;
                        }
                }
        }
        @include xl{
                grid-template-columns: auto 1300px auto;
        }
    
}