#info{
        display: grid;
        grid-template-columns: 32px auto 32px;
        grid-template-areas: ". info .";

        background-color: var(--off-white);
        color: var(--dark-red);
    
        >div{
            grid-area: info;
    
           display: grid;
           grid-template-columns: 30% auto; 
    
        }
    
}