#checkout3{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". checkout3 .";

    background-color: var(--dark-red);
    color: var(--off-white);

    >div{
        grid-area: checkout3;

        >aside{
            display: grid;
            text-align: center;
        }

        >section{
            #content3{
                background-color: var(--basic-red);
                padding: 40px;
    
                ul{
                    li{
                        aside{
                            display: flex;
                            h2{
                                padding: 16px;
                            }
                        }

                        section{
                            display: flex;
                        }
                    }
                }
            }

            #images3{
                padding: 24px;
                img{
                width: 100%;
                }
            }
        }


        @include lg{
            >section{
                display: grid;
                grid-template-columns: 50% auto;

                #images3{
                    padding: 96px;
                    img{
                        width: 100%;
                    }
                }
            }
        }

        @include xl{
            display: grid;
            grid-template-columns: auto 1220px auto;
        }
    }
}