// thankYou//


#thankYou{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". thankYou .";

    background-color: var(--dark-red);
    color: var(--off-white);

    >div{
        grid-area: thankYou;

        >aside{
            display: grid;
            text-align: center;
        }

       >section{
        display: grid;
        grid-template-columns: 50% auto;

        #contentTY{
            background-color: var(--basic-red);
            padding: 40px;
        }
       }
 
    }
}