#thankYou{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". thankYou .";

    background-color: var(--dark-red);
    color: var(--off-white);

    >div{
        grid-area: thankYou;
        max-width: 1400px; 
        margin: 0px auto; 
        
        margin-bottom: 32px;

        >aside{
            display: grid;
            text-align: center;
        }

        >section{
            #contentTY{
                background-color: var(--basic-red);
                padding: 48px;
                border-radius: 24px;
    
                ul{
                    li{
                        aside{
                            display: flex;
                            h2{
                                padding: 16px;
                            }
                        }

                        section{
                            display: flex;
                        }
                    }
                }
            }

            #imagesTY{
                padding: 24px;
                img{
                width: 100%;
                }
                aside{
                    text-align: center;
                }
            }
        }


        @include lg{
            >section{
                display: grid;
                grid-template-columns: 50% auto;

                #imagesTY{
                    padding: 96px;
                    img{
                        width: 100%;
                    }
                }
            }
        }

    }
}