// thankYou//


#thankYou{
    

    div{

        display: grid;
        grid-template-columns: 50% auto;
        grid-template-areas: 
        "TYtitle TYtitle"
        "TYmessage TYimages";
        
        background-color: var(--dark-red);
        color: var(--off-white);



        .TYtitle{
            grid-area: TYtitle;
        }
    
        .TYmessage{
            grid-area: TYmessage;
        }
    
        .TYimages{
            grid-area: TYtitle;
        }

    }

}