#checkout1{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". checkout1 .";

    background-color: var(--dark-red);
    color: var(--off-white);

    padding-top: 80px;
    @include lg{
        padding-top: 100px;
    }

    >div{

        max-width: 1400px; 
        margin: 0px auto;       
        grid-area: checkout1;

        margin-bottom: 32px;

        >aside{
            display: flex;
            justify-content: center;
            #header-text{
                padding: 24px;
            }
        }

        >section{
         
            #content1{
                background-color: var(--basic-red);
                padding: 48px;
                border-radius: 24px;

                margin-bottom: 32px;
              
                ul{
                    li{
                        padding-bottom: 24px;

                        #label-text{
                            font-size: rem-calc(20);
                        }

                        h1{
                            font-size: rem-calc(64);
                        }
                        h2{
                            font-size: rem-calc(36);
                            margin-top: 8px;
                        }

                        aside{     
                            display: flex;
                            margin-top: 8px;
                            align-items: center;
                       
                            h3{
                                padding: 2px 16px;
                                background-color: var(--off-white);
                                color: black;
                                border: 2px solid var(--mid-gray);
                            }
                            button{
                                background-color: transparent;
                                border: transparent;
                             
                                

                            }

                            #header-text{
                                font-size: rem-calc(35);
                            }

                            
                        }
                        section{
                            display: flex; 
                            width: 100%;
                            
                            #purple-button{
                                margin-left: auto;
                                margin-top: 16px;
                                margin-bottom: -32px;
                             }
                             #white-button{
                                margin-top: 16px;
                                margin-bottom: -32px;
                            }
                        }

                    }
                }
            }

            #images1{
                img{
                width: 100%;
                }
            }
        }

        @include lg{
            grid-template-columns: auto 1200 auto;
            >section{
                display: grid;
                grid-template-columns: 50% auto;

                #content1{
                    margin-bottom:8px;
                }

                #images1{
                    padding: 96px;
                    img{
                        width: 100%;
                    }
                }
            }
        }


    }
}