#checkout1{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". checkout1 .";

    background-color: var(--dark-red);
    color: var(--off-white);

    >div{

        max-width: 1400px; 
        margin: 0px auto;       
        grid-area: checkout1;

        margin-bottom: 32px;

        >aside{
            display: flex;
            justify-content: center;
        }

        >section{
         
            #content1{
                background-color: var(--basic-red);
                padding: 48px;
                border-radius: 24px;
              
                ul{
                    li{
                        aside{     
                            display: flex;
                       
                            h2{
                                padding: 16px;
                                background-color: var(--off-white);
                                color: black;
                                border: 1px solid var(--mid-gray);
                            }
                            button{
                                background-color: var(--purple);
                                border: 1px solid var(--mid-gray);
                                color: var(--off-white);
                                
                            }
                        }
                        section{
                            display: flex; 
                            width: 100%;
                            
                            #purple-button{
                                margin-left: auto;
                             }
                        }

                    }
                }
            }

            #images1{
                img{
                width: 100%;
                }
            }
        }

        @include lg{
            grid-template-columns: auto 1200 auto;
            >section{
                display: grid;
                grid-template-columns: 50% auto;

                #images1{
                    padding: 96px;
                    img{
                        width: 100%;
                    }
                }
            }
        }


    }
}