/* =============
    Footer
============= */

footer{
    display: grid;
    grid-template-columns: 70px auto 70px;
    grid-template-areas: ". footer .";

    background-color: var(--basic-red);
    color: var(--off-white);

    >div{
        grid-area: footer;
        padding-top: 24px;
        padding-bottom: 24px;

        section{
            ul{
                display: flex;
                justify-content: center;
                li{
                    padding: 8px;
                }
            }
        }
   
    }

}

